<%- include('partials/header'); %>
<div>
<% if (players.length > 0) {%>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < players.length; i++) { %>
            <tr>
                <td><%= players[i].id %></td>
                <td><%= players[i].first_name %></td>
                <td><%= players[i].last_name %></td>
                <td><%= players[i].position %></td>
                <td><%= players[i].number %></td>
                <td>
                    <a href="/edit/<%= players[i].id %>" class="btn btn-sm btn-success">Edit</a>
                    <a href="/delete/<%= players[i].id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } else { %>
    <p class="text-center">No players found.</p>
<% } %>
</div>
</div>
</body>
</html>